@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

@import "colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Aladin', cursive;
    background: $bg;
    color: $txt;
    letter-spacing: 1px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: $accent;
    }
}

// Start Navigation bar styling
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 20%;
    font-size: 1.45em;
    padding: 20px 50px;
    z-index: 9;
    transition: all .3s linear;
    .brandName {
        .name {
            color: $primary;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 14px;
            position: relative;
            background: transparent;
            transition: .5s linear;
            &::before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 0;
                height: 2px;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                box-sizing: border-box;
            }
            &::after {
                position: absolute;
                content: '';
                bottom: 0;
                right: 0;
                width: 0;
                height: 2px;
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent;
                box-sizing: border-box;
            }
            &:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                &::before {
                    border-color: $primary;
                    height: 100%;
                    transition: .3s width linear, .3s height linear .4s;
                    width: 100%;
                }
                &::after {
                    border-color: $primary;
                    height: 100%;
                    transition: .3s width linear, .3s height linear .4s;
                    width: 100%;
                }
            }
        }
    }
    #menu {
        display: none;
    }
    nav {
        .menu-items {
            width: 100%;
            display: flex;
            justify-content: end;
            flex-wrap: wrap;
            transition: all .3s linear;
            .link {
                color: $secondary;
                margin-inline: 10px;
                position: relative;
                flex: 1 1 100%;
                &::after {
                    content: '';
                    width: 0;
                    height: 2px;
                    background: $secondary;
                    border-radius: 2px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .2s linear;
                }
                &:hover, &:focus {
                    color: $txt;
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//Changing Navigation bar style after scrolling
.wider {
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 1.3em;
    height: 10%;
    background: rgba($color: $accent, $alpha: .5);
    nav {
        .link {
            color: $txt;
            &:hover {
                color: transparent;
                -webkit-text-stroke: 1.2px $txt;
            }
            
        }
    }
    &:hover {
        background: rgba($color: $accent, $alpha: .7);
    }
}
// End Navigation bar styling

// Start Main page styling
main {
    font-size: 1.45em;
    section {
        min-height: 100vh;
    }
    // Start Landing Page styling
    #landing {
        background: radial-gradient(circle farthest-side at 124% 50%, #004e92 0, #004e92 4%, #000428 77%, #000428 100%);
        background-position: 50% 50%;
        background-size: auto auto;
        background-attachment: fixed;
        .container {
            min-height: 100vh;
            max-width: 80%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: auto;
            #lt {
                width: 50%;
                .btns, .social {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 60%;
                }
                .btns {
                    margin-block: 12px;
                    .btn {
                        position: relative;
                        color: $secondary;
                        border: {
                            width: 1px;
                            style: solid;
                            radius: 12px;
                        };
                        padding: 6px 14px;
                        transition: .4s linear;
                        &:hover {
                            color: $txt;
                        }
                    }
                    .contact {
                        color: $primary;
                        transition: all .4s linear;
                        z-index: 1;
                        &::after {
                            content: '';
                            width: 0;
                            height: 100%;
                            background: $primary;
                            position: absolute;
                            transition: all .4s ease-in-out;
                            right: 0;
                            top: 0;
                            border-radius: 12px;
                            z-index: -1;
                        }
                        &:hover {
                            color: whitesmoke;
                            &::after {
                                right: auto;
                                left: 0;
                                width: 100%;
                            }
                        }
                    }
                }
                .social {
                    .icon {
                        transform-style: preserve-3d;
                        transform: rotate(-25deg) skew(25deg);
                        transition: .4s ease-in-out;
                        &:hover {
                            transform: rotate(0) skew(0);
                        }
                        .brand {
                            transition: all .4s ease-in-out;
                        }
                    }
                    .fa-github {
                        color: $brand;
                        &:hover {
                            color: $githover;
                        }
                    }
                    .fa-linkedin {
                            color: $brand;
                            &:hover {
                                color: $inhover;
                            }
                    }
                    .fa-twitter {
                        color: $brand;
                        &:hover {
                            color: $twhover;
                        }
                    }
                    .fa-facebook {
                        color: $brand;
                        &:hover {
                            color: $fbhover;
                        }
                    }
                    .fa-instagram {
                        color: $brand;
                        padding: 1px 2px;
                        border-radius: 6px;
                        &:hover {
                            color: white;
                            background: $ighover;
                        }
                    }
                }
            }
            #rd {
                width: 50%;
                img {
                    width: 80%;
                    background-image: url(../imgs/blob-haikei.svg);
                    background-repeat: no-repeat;
                    background-size: 160%;
                    background-position: 42% 130%;
                    border-end-end-radius: 54% 50%;
                    border-end-start-radius: 33% 24%;
                }
            }
        }
    }
    // End Landing Page styling
}
// End Main page styling
