@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Aladin", cursive;
  background: #12130F;
  color: #4D6CFA;
  letter-spacing: 1px;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #6E508C;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 20%;
  font-size: 1.45em;
  padding: 20px 50px;
  z-index: 9;
  transition: all 0.3s linear;
}
header .brandName .name {
  color: #DB3A34;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 14px;
  position: relative;
  background: transparent;
  transition: 0.5s linear;
}
header .brandName .name::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
}
header .brandName .name::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
}
header .brandName .name:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
header .brandName .name:hover::before {
  border-color: #DB3A34;
  height: 100%;
  transition: 0.3s width linear, 0.3s height linear 0.4s;
  width: 100%;
}
header .brandName .name:hover::after {
  border-color: #DB3A34;
  height: 100%;
  transition: 0.3s width linear, 0.3s height linear 0.4s;
  width: 100%;
}
header #menu {
  display: none;
}
header nav .menu-items {
  width: 100%;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  transition: all 0.3s linear;
}
header nav .menu-items .link {
  color: #70869B;
  margin-inline: 10px;
  position: relative;
  flex: 1 1 100%;
}
header nav .menu-items .link::after {
  content: "";
  width: 0;
  height: 2px;
  background: #70869B;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.2s linear;
}
header nav .menu-items .link:hover, header nav .menu-items .link:focus {
  color: #4D6CFA;
}
header nav .menu-items .link:hover::after, header nav .menu-items .link:focus::after {
  width: 100%;
}

.wider {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 1.3em;
  height: 10%;
  background: rgba(110, 80, 140, 0.5);
}
.wider nav .link {
  color: #4D6CFA;
}
.wider nav .link:hover {
  color: transparent;
  -webkit-text-stroke: 1.2px #4D6CFA;
}
.wider:hover {
  background: rgba(110, 80, 140, 0.7);
}

main {
  font-size: 1.45em;
}
main section {
  min-height: 100vh;
}
main #landing {
  background: radial-gradient(circle farthest-side at 124% 50%, #004e92 0, #004e92 4%, #000428 77%, #000428 100%);
  background-position: 50% 50%;
  background-size: auto auto;
  background-attachment: fixed;
}
main #landing .container {
  min-height: 100vh;
  max-width: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
main #landing .container #lt {
  width: 50%;
}
main #landing .container #lt .btns, main #landing .container #lt .social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}
main #landing .container #lt .btns {
  margin-block: 12px;
}
main #landing .container #lt .btns .btn {
  position: relative;
  color: #70869B;
  border-width: 1px;
  border-style: solid;
  border-radius: 12px;
  padding: 6px 14px;
  transition: 0.4s linear;
}
main #landing .container #lt .btns .btn:hover {
  color: #4D6CFA;
}
main #landing .container #lt .btns .contact {
  color: #DB3A34;
  transition: all 0.4s linear;
  z-index: 1;
}
main #landing .container #lt .btns .contact::after {
  content: "";
  width: 0;
  height: 100%;
  background: #DB3A34;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
  top: 0;
  border-radius: 12px;
  z-index: -1;
}
main #landing .container #lt .btns .contact:hover {
  color: whitesmoke;
}
main #landing .container #lt .btns .contact:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
main #landing .container #lt .social .icon {
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
  transition: 0.4s ease-in-out;
}
main #landing .container #lt .social .icon:hover {
  transform: rotate(0) skew(0);
}
main #landing .container #lt .social .icon .brand {
  transition: all 0.4s ease-in-out;
}
main #landing .container #lt .social .fa-github {
  color: #999;
}
main #landing .container #lt .social .fa-github:hover {
  color: #fafafa;
}
main #landing .container #lt .social .fa-linkedin {
  color: #999;
}
main #landing .container #lt .social .fa-linkedin:hover {
  color: #0a66c2;
}
main #landing .container #lt .social .fa-twitter {
  color: #999;
}
main #landing .container #lt .social .fa-twitter:hover {
  color: #1da1f2;
}
main #landing .container #lt .social .fa-facebook {
  color: #999;
}
main #landing .container #lt .social .fa-facebook:hover {
  color: #1778f2;
}
main #landing .container #lt .social .fa-instagram {
  color: #999;
  padding: 1px 2px;
  border-radius: 6px;
}
main #landing .container #lt .social .fa-instagram:hover {
  color: white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
main #landing .container #rd {
  width: 50%;
}
main #landing .container #rd img {
  width: 80%;
  background-image: url(../imgs/blob-haikei.png);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: 42% 130%;
  border-end-end-radius: 54% 50%;
  border-end-start-radius: 33% 24%;
}/*# sourceMappingURL=style.css.map */