$text-light: #19346e;
$background-light: #f3f3ef;
$primary-light: #223662;
$secondary-light: #b81d4e;
$accent-light: #53648a;

$text-dark: #93ade6;
$background-dark: #0f0f0b;
$primary-dark: #9db1dd;
$secondary-dark: #e24677;
$accent-dark: #7687ad;
